# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.windsurf
.cursor
.trae
.vscode

.crush
.factory
.goose
.iflow
.junie
.kilocode
.kiro
.kode
.mcpjam
.mux
.neovate
.openhands
.pi
.pochi
.qoder
.qwen
.roo
.adal
.agents
.augment
.claude
.codebuddy
.commandcode
.continue
.cortex
.vibe
.zencoder
skills
skills-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.storybook
*storybook.log
storybook-static

.env
.env.development